<nav
  class="h-full bg-slate-900 flex flex-col transition-all duration-300 items-center pt-3 shadow-md shadow-black"
  [ngClass]="open ? 'w-48' : 'w-14'"
>
  <button
    class="hover:bg-slate-800 py-3 my-2 w-4/5 text-xl text-slate-100 rounded-2xl border-2 border-transparent whitespace-nowrap overflow-hidden"
    [ngClass]="{ 'pl-4': open, 'text-start': open }"
    (click)="showComposeEmailModal()"
  >
    <i class="text-xl pi pi-pencil" [ngClass]="{ 'mr-2': open }"></i>
    {{ open ? "Compose" : "" }}
  </button>

  <a
    *ngFor="let button of buttons"
    class="hover:bg-slate-800 py-3 my-2 w-4/5 text-xl text-slate-100 rounded-2xl border-2 border-transparent whitespace-nowrap overflow-hidden"
    [ngClass]="{ 'pl-4': open, 'text-center': !open }"
    [routerLink]="button.link"
    [routerLinkActive]="'!border-[var(--primary-color)]'"
  >
    <i class="text-xl" [class]="button.icon" [ngClass]="{ 'mr-2': open }"></i>
    {{ open ? button.name : "" }}
  </a>
</nav>
