<p-toast position="bottom-right"></p-toast>

<p-dialog
    header="New Email"
    [(visible)]="show"
    [modal]="true"
    [draggable]="false"
    [dismissableMask]="true"
    styleClass="w-3/5 h-4/5"
    (onHide)="autoDraft()">
    
    <form class="h-full" [formGroup]="form" (ngSubmit)="send()">
        <div class="flex flex-col h-full text-slate-900 text-opacity-90">
            <label for="to">To:</label>
            <input pInputText type="text"
            id="to"
            formControlName="to"
            class="p-inputtext w-full h-10 mt-1"/>
    
            <label for="subject" class="mt-4">Subject:</label>
            <input pInputText type="text"
            id="subject"
            formControlName="subject"
            class="p-inputtext w-full h-10 mt-1"/>
            
            <label for="body" class="mt-4">Body:</label>
            <p-editor #editor
            id="body"
            formControlName="body"
            class="w-full flex-grow mt-1 mb-4">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select class="ql-size"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-blockquote"></button>
                        <button class="ql-code-block"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-indent" value="-1"></button>
                        <button class="ql-indent" value="+1"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-direction" value="rtl"></button>
                        <select class="ql-align"></select>
                    </span>
                </ng-template>
            </p-editor>

            <div class="h-10 mb-2 w-full flex justify-between">
                <div>
                    <button type="submit" pButton pRipple
                    label="Send" icon="pi pi-send"
                    [disabled]="form.invalid || uploadOngoing"
                    class="p-button-outlined p-button-primary mr-4">
                    </button>

                    <button type="button" pButton pRipple
                    label="Draft" icon="pi pi-file-edit"
                    (click)="draft()"
                    class="p-button-outlined p-button-secondary">
                    </button>
                </div>
                <div>
                    <file-upload></file-upload>
                </div>
            </div>
        </div>
    </form>
</p-dialog>